.Card {
  border: 1px solid white;
  padding: 50px;
  margin: 10px;
  width: 100px;
  height: 100px;
  background: #8c7f5b;
  border-radius: 5px;
  text-align: center;
}
.Card:hover {
  transition: 0.5s;
  cursor: pointer;
  background: #57503a;
}
.CardBoard {
  text-align: center;
}
